/*
This file must validate as CSS 2.01 with absolutely no errors
+ http://jigsaw.w3.org/css-validator/
+ http://idpf.org/epub/20/spec/OPS_2.0.1_draft.htm#Section3.0

Name: Open Textbook EPUB
Version: 1.1
Author: bpayne
*/

@import url("../../../eskript/export/epub/style.css");